<!DOCTYPE html>
<html>
<head>
    <title>HOME PAGE</title>
    <h1 style="text-align: center;">Contact home page</h1>
</head>

<body>
   
    <div>
        <ul>
            <li>
                <a href="/register">REGISTERATION</a>
            </li>
            <li>
                <a href="/show">CONTACT DATA</a>
            </li>

             <li>
                <a href="/json">JSON-CONTACT DATA</a>
            </li>

            <li>
                <a href="/iddetail">FIND ID- DETAILS</a>
            </li>
            
        </ul>
    </div>

</body>


</html>