<!DOCTYPE html>
<html>
<head>
    
    <title>HOME PAGE</title>
</head>
<body style="background-color: bisque;">
    <h1 style="text-align: center;"> MY HOME PAGE</h1>
    
    <ul>
        <li>
            <a href="/case">CASES</a>
        </li>

        <li>
            <a href="/station">POLICE STATION</a>
        </li>

         <li>
            <a href="/officer">OFFICERS</a>
        </li>

         <li>
            <a href="/fir">FIR</a>
        </li>

         <li>
            <a href="/vehicle">VEHICLES</a>
        </li>

         <li>
            <a href="/criminal">CRIMINALS</a>
        </li>

         <li>
            <a href="/cc">CASE CRIMINAL</a>
        </li>
    </ul>

</body>


</html>