<!DOCTYPE html>
<html>
<head>
    <title>case_criminal</title>
    <h1 style="text-align: center;">Case Criminal</h1>

<style>
    body{
        background-color: darkkhaki;
    }

</style>
</head>
<body>
<table border="5">

    <tr>
        <th>id</th>
        <th>case</th>
        <th>criminal</th>
    </tr>

    {% for i in case_criminal %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.caseid}}</td>
        <td>{{i.criminalid}}</td>

    </tr>
    {% endfor %}




</table>
</body>
</html>
