<!DOCTYPE html>
<html>
<!-- <h1 style="text-align: center;">KERALA POLICE</h1> -->
<head>
<title>Police DB</title>

    <style>
        body{
            color:black;
            background-color:darkkhaki;
        }

        ul{
            color: goldenrod;
        }
    
        a{
            color:blueviolet;
        }

    </style>

</head>

<body>
<h1 style="text-align: center;">KERALA POLICE</h1>
    
    <div class="container">
        <ul>

            <li>
               <a href="cases">CASES</a> 
            </li>

            <li>
                <a href="criminals">CRIMINAL LIST</a>
            </li>

            <li>
                <a href="officers">OFFICERS</a>
            </li>

            <li>
                <a href="stations">POLICE STATIONS</a>
            </li>

            <li>
                <a href="fir"> FIR LIST</a>
            </li>

            <li>
                <a href="vehicle"> VEHICLE LIST</a>
            </li>

            <li>
                <a href="cc"> CASE CRIMINAL</a>
            </li>
        </ul>



    </div>

    
</body>
<footer style="text-align: center;"><small> For autherised personals only</small></footer>
</html>